---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import '../styles/global.css';


const pageTitle = "Some page title, dude.";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const max_width = "calc(100% - 2rem)"; 
---

<Layout title={pageTitle}>
  <Nav />
  <main>
    <h1>About Me</h1>
    <h1 class="text-gradient">{pageTitle}</h1>
    <h2 class="text-slate-400 text-4xl font-bold">
      ... and my new Astro site!
    </h2>

    <p class="mt-8">
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p class="mt-8">Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[2]}{" "}
            and {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="list-disc skill">{skill}</li>)}
    </ul>
    <section>
      <ul>
        {happy && <li>I am happy to be learning Astro!</li>}

        {finished && <li>I finished this tutorial!</li>}

        {
          goal === 3 ? (
            <li>My goal is to finish in 3 days.</li>
          ) : (
            <li>My goal is not 3 days.</li>
          )
        }
      </ul>
    </section>
  </main>
</Layout>

<style define:vars={{max_width}}>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: var(--max_width);
    /* max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

</style>
